@page "/list"
@inject HttpClient client;
<h3>Spiele in der Datenbank:</h3>
@if (gamesn == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudTable Items="gamesn" Hover="true" SortLabel="Sort By" Elevation="0">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Game, object>(x=>x._id)">ID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.gamename)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.developer)">Developer</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.publisher)">Publisher</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.console)">Konsole</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.description)">Beschreibung</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Game, object>(x=>x.pegi)">PEGI</MudTableSortLabel></MudTh>
            <MudTh>Bild</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context._id</MudTd>
            <MudTd DataLabel="Gamename">@context.gamename</MudTd>
            <MudTd DataLabel="Developer">@context.developer</MudTd>
            <MudTd DataLabel="Publisher">@context.publisher</MudTd>
            <MudTd DataLabel="Konsole">@context.console</MudTd>
            <MudTd DataLabel="Beschreibung">@context.description</MudTd>
            <MudTd DataLabel="PEGI">@context.pegi</MudTd>
            <MudTd DataLabel="Image"><MudImage src="@context.imagelink" Height="150" Width="100">Bild</MudImage></MudTd>
            <MudTd DataLabel="AddList"><a href="@addToOwnList(context._id);">Add to List</a></MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10, 50, 100}" />
        </PagerContent>
    </MudTable>
}

@code {
    private Game[]? gamesn;

    protected override async Task OnInitializedAsync()
    {
        gamesn = await client.GetFromJsonAsync<Game[]>("http://localhost:5000/getall");
    }

    public String addToOwnList(int id)
    {
        return "";
    }

    public class Game
    {
        public int _id { get; set; }
        public string gamename { get; set; }
        public string developer { get; set; }
        public string publisher { get; set; }
        public string console { get; set; }
        public string description { get; set; }
        public int pegi { get; set; }
        public string imagelink { get; set; }
    }
}
